@import url('https://fonts.googleapis.com/css2? family= Noto+Sans:wght@400;800 & family= Roboto:wght@400;700 & family= Source+Sans+Pro: ital,wght@0,300;0,700;1,300;1,400 & display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans' , sans-serif;
}
body * {
    box-sizing: border-box;

}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #908e94;
    display:flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.left-login > h1  {
    color: rgb(0, 0, 0);
    font-size: 5vw;
    font-style:inherit;
    width: 60vh;
    margin-right: 10px;
    margin-left: 350px;

}
.left-login-image{
    width: 40vw;
    margin-left: 300px;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-login{
    width: 60%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #000000;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #0b0220;
}

.card-login > h1{
    color:#5cfc00;
    font-weight: 800px;
    margin: 0;
    box-shadow: #eeeeee;
}

.textfield{
    width:100% ;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border:none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color:#f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #0b0220;
    outline:none;
    box-sizing: border-box;

}
.botao{
    color:#ff0015
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.a > button{
    width: 100%;
    padding: 16px 0px;
    margin:25px;
    border:none;
    border-radius: 9px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #2ad400;
    cursor: pointer;
    box-shadow: 10px 10px 40px -12px #46414152;
   
}


/*.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin:25px;
    border:none;
    border-radius: 9px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #fffb00;
    cursor: pointer;
    box-shadow: 10px 10px 40px -12px #e0e0e052;
} */

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login >h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login{
        width: 60vw;
    }
    .card-login{
        width: 90%;
    }
}

